@import './variables';

.el-header {
  padding: 0;
  font-size: 18px;
}

.el-table {
  margin-bottom: 32px;
  margin-top: 32px;
}

.el-table th {
  background: #f5f7fa;
}

.el-date-editor .el-range-separator {
  width: 10%;
}

.el-submenu__title:hover,
.el-menu-item:hover,
.el-menu-item.is-active,
.el-menu-item:focus {
  background-color: $primary-color;
  color: $white;

  .icon {
    path {
      fill: $white;
      stroke: $primary-color;
    }
  }
}

.main {
  background-color: $white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 9999px;
}