$--color-primary: #5ba0ff;

$primary-color: $--color-primary;

$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;

$success-color: $--color-success;
$danger-color: $--color-danger;

$primary-color-darken: darken($primary-color, 10%);

$white: #ffffff;
$light-black: #303133;

$black: #22292f;
$darkgrey: #666;
$grey: #999;
$lightgrey: #ddd;

$border: 1px solid $lightgrey;

$--font-path: '~element-ui/lib/theme-chalk/fonts';